* {
  box-sizing: border-box;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: auto;
}

@font-face {
  font-family: "vijaya";
  src: url("../vijaya.ttf");
}

@font-face {
  font-family: lato-hairline;
  src: url("../Lato-Hairline.ttf");
}

header {
  padding: 30px 0;
  background-color: #354657;
  margin: auto;
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr 210px;
}
.logo {
  height: 50px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 15px;
  align-items: center;
}

.logoThem {
  height: 50px;
}

.logo .headerSpan {
  text-decoration: none;
  font-family: vijaya;
  color: white;
  font-size: 37px;
}

.logo .headerSpanYellow {
  color: #e67e22;
}

.btnHeader {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.btnHeader .menu {
  display: none;
}

.btnHeader .tryDemo {
  font-family: lato;
  height: 40px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #1abc9c;
  border-radius: 5px;
}

.btnHeader .buyNow {
  font-family: Lato;
  height: 40px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #f39c12;
  border-radius: 5px;
}

.themFast {
  padding-top: 80px;
  background-color: #1abc9c;
}

.fastGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fastContentI {
  padding-top: 20px;
  max-width: 415px;
}

.fastContentI .fastTittle {
  max-width: 415px;
  padding: 10px 20px;
  background-color: #f39c12;
}

.fastContentI .fastTittle h2 {
  font-family: Lato;
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.fastContentI .fastTittle p {
  font-family: Lato;
  font-size: 13px;
  color: white;
  margin: 10px 0;
}

.fastContentI .fastContentIP {
  padding-left: 20px;
  font-family: Lato-Hairline;
  font-weight: light;
  font-size: 24px;
  color: white;
}

.fastContentI .fastButton {
  text-align: right;
}

.fastContentI .fastButton button {
  border: none;
  color: white;
  font-family: Lato;
  font-size: 17px;
  border-radius: 5px;
}

.fastContentI .fastContentFeat {
  background-color: #2c3e50;
  width: 135px;
  height: 50px;
  cursor: pointer;
}

.fastContentI .fastContentBuy {
  background-color: #f39c12;
  width: 135px;
  height: 50px;
  margin: 0 20px;
  cursor: pointer;
}

.fastContentII img {
  float: right;
}

.action {
  background-color: #2c3e50;
  padding: 60px 0;
}

.action .actionGrid {
  display: grid;
  grid-template-columns: 539px 1fr;
  grid-column-gap: 100px;
}

.actionContent h2 {
  font-family: Lato;
  font-size: 36px;
  font-weight: bold;
  color: #f39c12;
  margin: 0;
}

.actionContentPI {
  max-width: 270px;
  background-color: #f39c12;
  padding: 5px 0 5px 10px;
  font-family: Lato, light;
  font-size: 20px;
}

.actionContentPII {
  font-family: lato-hairline;
  font-size: 17px;
  color: #ffffff;
}

.actionBtnDemo {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #f39c12;
  font-size: 17px;
  color: white;
  border: 0;
}

.toon {
  padding: 65px 0;
  background-color: #16a085;
}

.toonGrid {
  display: grid;
  grid-template-columns: 1fr 291px;
  grid-gap: 100px;
}

.toonContent {
  max-width: 360px;
}

.toonContent h2 {
  font-family: Lato;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
}

.toonContentPI {
  max-width: 350px;
  margin: 20px 10px 10px -10px;
  background-color: #2c3e50;
  font-family: Lato, light;
  font-size: 20px;
  color: #f39c12;
  padding: 5px 10px;
}

.toonContentPII {
  max-width: 330px;
  font-family: Lato-Hairline;
  font-size: 17px;
  color: white;
}

.toonBtn {
  text-align: right;
  margin-right: 10px;
  margin-top: 30px;
}

.toonBtn button {
  background-color: #f39c12;
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: Lato;
}

.toonImg {
  padding-top: 40px;
}

.widget {
  background-color: #2c3e50;
  padding: 60px 0;
}

.widget .widgetGrid {
  display: grid;
  grid-template-columns: 539px 1fr;
  grid-column-gap: 100px;
}

.widgetContent h2 {
  font-family: Lato;
  font-size: 36px;
  font-weight: bold;
  color: #f39c12;
  margin: 0;
}

.widgetContentPI {
  max-width: 270px;
  background-color: #f39c12;
  padding: 5px 0 5px 10px;
  font-family: Lato, light;
  font-size: 20px;
}

.widgetContentPII {
  font-family: lato-hairline;
  font-size: 17px;
  color: #ffffff;
}

.widgetBtnCheck {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #f39c12;
  font-size: 17px;
  color: white;
  border: 0;
}

.power {
  padding: 65px 0;
  background-color: #16a085;
}

.powerGrid {
  display: grid;
  grid-template-columns: 1fr 291px;
  grid-gap: 100px;
}

.powerContent {
  max-width: 360px;
}

.powerContent h2 {
  font-family: Lato;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
}

.powerContentPI {
  max-width: 350px;
  margin: 20px 10px 10px -10px;
  background-color: #2c3e50;
  font-family: Lato, light;
  font-size: 20px;
  color: #f39c12;
  padding: 5px 10px;
}

.powerContentPII {
  max-width: 330px;
  font-family: Lato-Hairline;
  font-size: 17px;
  color: white;
}

.powerBtn {
  text-align: right;
  margin-right: 10px;
  margin-top: 30px;
}

.powerBtn button {
  background-color: #f39c12;
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: Lato;
}

.powerImg {
  padding-top: 40px;
}

.buy {
  background-color: #e7a947;
  padding: 60px 0;
  padding-right: 10px;
}

.buyGrid {
  display: grid;
  grid-template-columns: 1fr 540px;
  grid-column-gap: 100px;
}

.buyContent {
  max-width: 310px;
}

.buyContent h2 {
  max-width: 250px;
  font-family: Lato, bold;
  font-size: 36px;
  color: #2c3e50;
  margin: 0;
}

.buyContentPI {
  max-width: 250px;
  margin: 20px 10px 10px -10px;
  background-color: #2c3e50;
  font-family: Lato, light;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
}

.buyContentPII {
  max-width: 270px;
  font-family: Lato-Hairline;
  font-size: 17px;
  color: white;
}

.buyPriceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
}

.buyPriceIndi {
  background-color: #2c3e50;
  padding: 20px;
}

.buyPriceIndiSpI {
  font-family: Lato;
  font-size: 24px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.buyPriceIndiSpII {
  font-family: Lato;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.buyPriceIndiSpIII {
  font-family: Lato-Hairline;
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}

.buyPriceIndiSpIIII {
  font-family: Lato-Hairline;
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}

.buyPriceIndiSpIIIII {
  font-family: Lato-Hairline;
  color: white;
  font-size: 17px;
  margin-bottom: 40px;
}

.buyPriceBtn {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #f39c12;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.buyPriceDev {
  background-color: #2c3e50;
  padding: 20px;
}

.lorem {
  padding: 50px 30px 50px 0;
  background-color: #2c3e50;
}

.lorem p {
  text-align: center;
  font-family: Lato-Hairline;
  font-size: 17px;
  color: white;
}

footer {
  background-color: #f39c12;
}

footer .container p {
  margin: 0;
  text-align: right;
  color: white;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
}
